body{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    text-align: center;
}
.text-container{
    padding: 10px 0;
    box-sizing: border-box;
}
h1{
    margin-bottom: 0;
}
.change-heading{
    color: hsl(0, 0%, 59%);
    font-weight: 200;
}
.subscribe-text{
    font-size: 16px;
    color: #000;
}
form{
    width: 550px;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}
.form-control input{
    width: 300px;
    padding: 15px 20px;
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 25px;
    font-family: inherit;
    background-color: transparent;
    margin: 4px;
    font-size: 16px;
}
input:focus{
    outline: 0;
}
button{
    width: 150px;
    padding: 16px 20px;
    border: none;
    border-radius: 25px;
    font-family: inherit;
    background-color: hsl(223, 87%, 63%);
    color: #fff;
    cursor: pointer;
    margin: 4px;
    box-shadow: 5px 5px 10px hsl(223, 87%, 63%);
}
#error-message{
    color: hsl(354, 100%, 66%);
    font-size: 14px;
    margin-top: 2px;
    font-style: italic;
    text-align: left;
    position: relative;
    left: 50px;
}
.image-container{
    width: 550px; 
    margin: 40px auto; 
}
.dashboard-img{
    width: 100%;
}
ul{
    list-style: none;
    display: flex;
    width: 200px;
    margin: 0 auto;
}
li{
    padding: 12px;
}
li a{
    color: hsl(223, 87%, 63%);
}
.copyright-text{
    font-size: 14px;
}
.attribution {
     font-size: 11px; 
     text-align: center;
 }
.attribution a {
     color: hsl(228, 45%, 44%); 
}
@media screen and (max-width: 600px) {
    h1{
        font-size: 1.6rem;
    }
    form{
        width: 320px;
        margin: 10px auto;
        padding: 10px;
    } 
    .form-control input{
        width: 100%;
        margin: 4px;
        box-sizing: border-box;
    }
    button{
        width: 100%;
        margin: 4px;
        padding: 15px 20px;
    }
    .image-container{
        width: 350px; 
        margin: 30px auto; 
    }
    .dashboard-img{
        width: 350px;
    }
}